{% extends 'base/base.html'%}

{% block content %}
<div>
<h1>ana sayfası</h1>  
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate iste suscipit atque sed impedit aliquid magnam perspiciatis reiciendis, ullam amet soluta, maxime at optio recusandae ex, vel inventore repudiandae.</p>
       <p>Modi consectetur, aliquam minus eligendi harum sed laudantium cumque iusto perspiciatis dolorem, dicta aperiam, ex magnam neque voluptas nemo quam! Praesentium id rerum tempore voluptatibus alias rem eaque beatae odit!</p>
       <p>Pellentesque tristique, justo vel condimentum cursus, turpis nisl fermentum risus, a rutrum nibh est imperdiet lorem. Cras interdum, elit ac tincidunt mattis, sem tortor aliquet dolor, ac pharetra libero risus in nulla. Sed iaculis convallis finibus. Nam malesuada dictum tortor, vel hendrerit neque imperdiet vel. Suspendisse cursus ex sed ligula malesuada laoreet. Praesent lectus est, tincidunt dignissim porta eleifend, elementum quis lectus. Quisque condimentum euismod enim vitae dictum. Nunc imperdiet lacus ut neque elementum, non molestie tortor sollicitudin. . At, assumenda. Amet at accusantium illo odit modi! Omnis est modi repellat ipsum perferendis quasi voluptatum voluptates nam tempore id.</p>
       <p>Minima, et. Sequi rem error possimus doloribus tempora, ad et? Vero accusamus iste dignissimos sequi? Voluptas ullam quae sint! Voluptatem mollitia ducimus quisquam provident iusto sequi, aliquam officia porro totam.</p>
       <p>Obcaecati, necessitatibus beatae, doloribus tempore laboriosam, consequuntur maiores maxime soluta dolores eveniet sunt. Architecto modi libero veritatis id sit, deserunt ipsa quos quidem placeat ut similique tenetur at! Odit, iusto.</p> 
</div>    
    
    
    
{% endblock %}    
